@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Digital 7";
    src: url(./fonts/digital-7/digital-7.ttf) format('truetype');
  }
  @font-face {
    font-family: "Digital 7 Mono";
    src: url(./fonts/digital-7/digital-7-mono.ttf) format('truetype');
  }
  @font-face {
    font-family: "Digital 7 Mono Italic";
    src: url(./fonts/digital-7/digital-7-mono-italic.ttf) format('truetype');
  }
  @font-face {
    font-family: "Digital 7 Italic";
    src: url(./fonts/digital-7/digital-7-italic.ttf) format('truetype');
  }
}

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
